#combineFoto{
  height: 35vh;
  min-height: 205px;
  user-select: none;
  overflow: hidden;
}
#combineFoto1,
#combineFoto2,
#combineFoto3,
#combineFoto4{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#combineFotoImg1,
#combineFotoImg2,
#combineFotoImg3,
#combineFotoImg4{
  height: 100%;
  width: 100%;
}
#titleProductDiv{
  height: 100%;
  color: #FFF;
  background-color: rgba(26, 26, 26, .65);
  backdrop-filter: blur(1px);
  z-index: 1;
  padding-left: 10%;
}
#titleProductDiv hr{
  border-top-width: 1px;
  opacity: .9;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
  width: 75%;
}
#titleProduct{
  font-size: 1.75em;
  letter-spacing: 3px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  opacity: .9;
}
#categoryContain{
  gap: 1rem;
}
.categoryList{
  max-width: 320px;
  height: 210px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.categoryList:hover{
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
}
.categoryList .categoryListImg{
  z-index: 1;
  opacity: 1;
}
#categoryAbu, #categoryContain{
  background-color: #BFBFBF;
}
#categoryAbu{
  right: 50%;
}
.categoryListTitle{
  z-index: 2;
  background-color: rgba(255, 255, 255, .4);
  backdrop-filter: blur(3px);
  user-select: none;
}
@media (min-width: 576px) {
  #combineFoto{
    height: 220px;
    min-height: none;
  }
  #titleProduct{
    font-size: 3em;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
    #combineFoto{
      height: 320px;
    }
    #categoryContain{
      max-width: 1060px;
    }
    .categoryList{
      max-width: 490px;
      height: 320px;
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
@media (min-width: 2400px) {}